*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Work+Sans:ital,wght@1,700&display=swap');
.jscontain{
   
    margin-left: 375px;
    
    background-size: 100% 100%;
   
    opacity: 0.69;
     min-height: 500px;
    background-color: white;
    padding: 50px;
    font-size: 30px;
    color: black;
    font-family: 'Anton', sans-serif;
font-family: 'Work Sans', sans-serif;

}

@media only screen and (max-width: 600px){
 .jscontain{
   width: 411px;
   margin-left: 0px;
   padding: 50px 10px;
 } 
 .jscontain{
   font-size: 20px;
   min-height: 0px;
 }


}

