*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}




.title{
    text-align: center;
    background-image: url("https://res.cloudinary.com/dpf5rgios/image/upload/c_scale,e_improve,h_700,q_100,r_0,w_1200/v1605366854/OIP_tqivod.jpg" );
    min-height: 600px;
    background-size: 100% 100%;  
    background-repeat: no-repeat;
    width: 1500px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    opacity: 0.8;
    
}
p{
    text-decoration: underline wavy #e65c00;
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
h1, p{
    
    font-family: 'Nanum Gothic', sans-serif;
   
}

h1{
    font-size: 100px;
}

p{
    font-size: 40px;
    background-color: #0073e6;
    padding: 5px;
    border-radius: 10px;
    font-style: italic;
}


.titlec{
    display: flex;
    justify-content: center;
    align-items: stretch;
    
}

@media only screen and (max-width: 600px){
    h1{
        font-size: 36px;
    }
    p{
        font-size: 13px;
    }
   .title{
       max-width: 400px;
       min-height: 400px;
   }
}